.min-height{
  height: 3000px;
}
.btn{
  z-index: 2;
}
.pa{
  position: absolute;
  width: auto;
}
.fixed-node{
  position: absolute;
  top: 80px;
  left: 150px;
}

#end-node{
  left: 150px;
  top: 700px;
}
.panel-node{
  width: 150px;
  display: inline-block;
  margin: auto 25px;
}
.panel-node-list{
  padding: 10px 10px;
}
.delete-node{
  cursor: pointer;
  width: 20px;
  display: inline-block;
  text-align: center;
}
.delete-node:hover{
  color: red
}