﻿/*
 *
 *  * Copyright (C) 2017.
 *  * 用于JAVA项目开发
 *  * 重庆青沃科技有限公司 版权所有
 *  * Copyright (C)  2017.  CqingWo Systems Incorporated. All rights reserved.
 *
 */

@charset "utf-8"; /* CSS Document */
body {
    margin: 0;
}

#main {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#main .main .name {
    font-size: 14px;
    padding-left: 30px;
    background-color: #3E4752;
    height: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
}

#main .main .tips {
    padding-left: 30px;
    color: #000;
    margin-top: 10px;
    font-size: 14px;
}

#main .main .logobox {
    width: 880px;
    display: inline-block;

}

#main .main ul {
    float: left;
}

#main .main ul li {
    margin-bottom: 15px;
}

#main .main ul li.w45 {
    width: 45%;
}

#main .main ul li.w100 {
    width: 100%;
    padding-left: 30px;
    position: relative;
}

#main .main ul li input.text {
    width: 300px;
    height: 32px;
    overflow: hidden;
    display: inline-block;
    line-height: 33px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#main .main ul li input.input-validation-error {

    border: 1px solid red;
    color: red;
}

#main .main ul li textarea.text {
    width: 880px;
    overflow: hidden;
    display: inline-block;
    line-height: 33px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#main .main ul li input.address {
    width: 600px;
}

#main .main ul li input.school {
    width: 480px;
}

#main .main ul li input.keywords {
    width: 600px;
}

#main .main ul li input.uname {

    width: 480px;
}

#main .main ul li input.realname {

    width: 320px;
}

#main .main ul li input.bankname {

    width: 280px;
}

#main .main ul li input.bankcard {

    width: 380px;
}

#main .main li input.bankaddress {

    width: 580px;
}


#main .main ul li input.mobile, #main .main ul li input.phone {

    width: 380px;
}

#main .main ul li label {
    width: 88px;
    display: inline-block;
    color: #000;
    font-weight: 500
}

#main .main ul li .field-validation-error {
    color: red
}

#main .main .describe {
    padding-left: 30px;
    display: inline-block;
}

#main .main .describe label {
    width: 88px;
    display: inline-block;
    color: #000;
    font-weight: 500;
}

#main .main .describe > textarea {
    width: 880px;
    height: 120px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #999;
    border-radius: 4px;
}

#main .main .fastener {
    width: 980px;
    text-align: left;
    padding-left: 40px;
    margin-top: 20px;
}

#main .main .fastener input {
    width: 60px;
    margin-left: 8px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #717C89;
    color: #000;
    font-weight: bold;
}

#main .main table {
    margin-left: 40px;
}

#main .main table tr .w100 {
    width: 100px;
}

#main .main table tr .w60 {
    width: 60px;
}

#main .main table tr td {
    text-align: center;
    height: 30px;
    line-height: 30px;
}

#main .main table tr .w150 {
    width: 150px;
}

#main .main table tr .w195 {
    width: 195px;
}

#main .main table tr td .typing {
    border: none;
    outline: none;
    height: 28px;
    text-indent: 5px;
}

#main .main .fastener .default {
    width: 100px;
}

.userinfo {
    width: 180px;
    height: 200px;
    position: absolute;
    top: 78px;
    left: 820px;
    border: 1px saddlebrown solid;

}

.userinfo .litpic {

    width: 150px;
    height: 150px;
    overflow: hidden;
    display: block;
    margin: 15px auto 5px;
    background: red

}

.userinfo .realname {
    text-align: center;
    display: block;

}


.edui-container {
    margin-left: 92px;
}


#main .main li.w100 .showimg {

    width: 80px;
    height: 80px;

    position: absolute;
    left: 860px;
    top: -20px;
}

#main .main li.w100 .showimg img {
    width: 80px;
    height: 80px;
}


#mapModal {
    width: 500px;
    height: 300px;
    background-color: white;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -150px;
}

#mapModal .map {
    width: 500px;
    height: 300px;
}

#mapModal .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    background-image: url("/static/admin/images/close.png");
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 9999;
}













