﻿/*
 *
 *  * Copyright (C) 2017.
 *  * 用于JAVA项目开发
 *  * 重庆青沃科技有限公司 版权所有
 *  * Copyright (C)  2017.  CqingWo Systems Incorporated. All rights reserved.
 *
 */

@charset "utf-8";
/* CSS Document */
@import url("https://cdn.cqwo.com/css/struts.css");
@import url("layout.css");
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../fonts/glyphicons-halflings-regular.eot);
	src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

body {
    width: 100%;
	overflow-x: hidden;
	background-color: #eceff5;
}
a ,a:hover, a:focus{
	text-decoration: none;
}

.hide{
	display: none;
}
.navbar-inverse {
	background: url(../images/barand1.png);
	height: 90px;
	width:100%;
	overflow:hidden;
}
#wrapper {
	padding: 0 0 0 15px;
	background-color: #eceff5;
}

#main {

	width: 100%;
	margin: 0 0 10px 0;
	padding: 0 0 0 0;

}

#main .search, #main .list, #main .main {
	display: block;
	margin: 10px 0 10px 0;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #d8d8d8;
}

#main .search .fastener {
	padding-left: 0;
	padding-top: 10px;
	height: 50px;
}

.logo {
	width: 74px;
	height: 90px;
	float: left;
    cursor: pointer
}
.logo img {
	width: 74px;
	height: 90px;
	overflow: hidden;
}
.info2 {
	display: block;
	float: left;
	margin-left: 15px;
}
.info2 h1 {
	font-size: 24px;
	color: #FFF;
	font-family: "锐字逼格青", "锐字逼格青春体简2.0";
	margin: 16px 0px 8px 0px;
}
.uers {
	width: 190px;
	height: 26px;
	background-color: #1f252d;
	border-radius: 20px;
	padding: 0px 15px;
	line-height: 26px;
	color: #FFF;
}
.uers a i {
	vertical-align: middle;
	margin-right: 6px;
}
.uers a {
	color: #FFF;
}
.news {
	float: right;
	color: #c8efff;
}
.news span {
	background: #e10000;
	width: 16px;
	height: 16px;
	color: #FFF;
	vertical-align: middle;
	border-radius: 20px;
	text-align: center;
	line-height: 16px;
	margin-top: 5px;
	margin-left: 6px;
	display: block;
	float: right;
}
.navbar-nav>li {
	width: 100px;
	height: 90px;
	overflow: hidden;
	float: left;
	padding: 20px 0px;
	transition: all .5s linear;
}
.navbar-nav>li:hover {
	background: rgba(31,37,45,0.5);
}
.navbar-nav>li.hover {
	background: rgba(31,37,45,1);
}
.navbar-nav>li a i {
	font-size: 40px;
	display: block;
	margin-bottom: 12px;
	margin-top: 6px;
}
.navbar-nav>li>a {
	padding-top: 0px;
	padding-bottom: 0px;
	color: #FFF;
	display: block;
	text-align: center;
	font-size: 16px;
}
.col-xs-12 {
	padding: 0px;
}
.panel {
	margin-bottom: 0px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.panel-title i {
	margin-right: 10px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	z-index: 2;
	color: #fff;
	background-color: #26ade4;
	border-color: #26ade4;
	border-left: 2px solid #156c8f;
}
.sidebar {
	width: 12%;
	height: 690px;
	background: #fff;
	float: left;
}
.col-sm-9 {
}
.title {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #e3e3e3;
}
.title .position {
	line-height: 40px;
	
	display: inline-block;
    text-indent: 12px;
}
.title .position img {
	margin-right: 6px;
}
.title .position a {
	font-size: 14px;
	color: #999;
	margin-right: 5px;
}
.title .position a:hover {
	color: #333;
}
.title .position span {
	font-size: 14px;
	color: #999;
}
.title .hope {
	float: right;
	line-height: 40px;
	margin-right: 20px;
}
.title .hope a {
	font-size: 14px;
	color: #999;
}
.title .hope a:hover {
	color: #333;
}
.title .hope span {
	font-size: 14px;
	color: #999;
	margin: 0 5px;
}


.panel-group {
	max-height: 1000px;
	overflow: hidden;
}
.leftMenu {
	margin: 10px;
	margin-top: 5px;
}
.leftMenu .panel-heading {
	font-size: 14px;
	padding-left: 20px;
	height: 36px;
	line-height: 36px;
	color: white;
	position: relative;
	cursor: pointer;
}/*转成手形图标*/
.leftMenu .panel-heading span {
	position: absolute;
	right: 10px;
	top: 12px;
}
/*.leftMenu .menu-item-left {
	padding: 2px;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 6px;
}*/
.leftMenu .menu-item-left {
    padding: 2px;
    background: transparent;
    border-radius: 6px;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
}
.leftMenu .list-group-item:hover {
	background: #9ea8b5;
	cursor:pointer;
	color:#FFF;
}
.panel-primary>.panel-heading {
	color: #fff;
	background-image:url(../images/menu.png);
	background-position:left center;
	background-repeat:repeat-x;
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	height: 40px;
	line-height: 40px;
}
.panel-group .panel {
	border-radius: 0px;
	margin: 0px;
}
.panel-group .panel+.panel {
	margin-top: 0px;
}
.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.list-group-item {
	padding-left: 42px;
}
.row {
    position: relative;
}
.leftBtn {

    width: 5px;
    height: 5px;
    overflow: hidden;
    background: red;
    position: absolute;
    top: 10px;

}

.red{color:red;}

.form-control{ padding: 0 12px;}

a:focus{outline:none;}


/*底部*/
#footer{width:100%;position: fixed;bottom: 0; background:url("../images/barand1.png") repeat; color:#FFF; text-align:center;line-height:1.2em; padding-top:10px; padding-bottom:10px;}


#main .search, #main .list, #main .main {
	display: block;
	margin: 10px 0 10px 0;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #d8d8d8;
}

#main .search .fastener {
	padding-left: 0;
	padding-top: 10px;
	height: 50px;
}

#main .search ul{
	clear: both;
}

#main .search li {
	height: 50px;
	line-height: 50px;
	width: 1000%;
	clear: both;
}

#main .search li label {
	float: left;
	width: 100px;
}

#position {
	width: 100%;
	height: 40px;
	border: 1px solid #d8d8d8;
	background-color: white;
	margin-top: 10px;
}

#position .position {
	line-height: 40px;

	display: inline-block;
	text-indent: 12px;
}

#position .position img {
	margin-right: 6px;
	display: inline-block;
	vertical-align: text-top;
}

#position .position a {
	font-size: 14px;
	color: #999;
	margin-right: 5px;
}

#position .position a:hover {
	color: #333;
}

#position .position span {
	font-size: 12px;
	color: #999;
}

#position .hope {
	float: right;
	line-height: 40px;
	margin-right: 20px;
}

#position .hope a {
	font-size: 14px;
	color: #999;
}

#position .hope a:hover {
	color: #333;
}

#position .hope span {
	font-size: 14px;
	color: #999;
	margin: 0 5px;
}

.hide {
	display: none;
}

.navbar-inverse {
	background: url(../images/barand1.png);
	height: 90px;
	width: 100%;
	overflow: hidden;
}


/*仿下拉框按钮*/
.selectBt {
	background: url(../images/selectbg.gif) repeat-x center center;
	height: 28px;
	cursor: pointer;
	border: 1px solid #bec7d4;
	border-radius: 4px;
	display: inline-block;
}

.selectBt input {
	background: url(../images/selectbgico.gif) no-repeat 6px center;
	border: 0;
	height: 28px;
	line-height: 26px;
	text-align: left;
	padding-left: 22px;
	padding-right: 10px;
	outline: none;
	outline-color: rgba(255, 255, 255, 0);
}

.indexAttribute {
	margin-top: 6px;
}

.selectedBrandItem {
	margin: 12px 16px 6px 0;
	padding: 0 3px 0 3px;
	border: 1px solid #0e5983;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
	float: left;
}

.selectedBrandItem span {
	display: inline-block;
	float: left;
}

.selectedBrandItem img {
	margin-left: 2px;
	display: inline-block;
	float: left;
}

#myDeviceModal {
	top: 10%;
}

#myDeviceModal .modal-content {
	width: 750px;
	margin-left: -375px;
	left: 50%;
}

/*品牌,商品,店铺,配送公司选择*/
#selectDeviceBox {
	background: #FFF;
	width: 730px;
}


#selectDeviceBoxCon {
	width: 730px;
	margin-top: 6px;
	overflow: hidden;
	border-top: 1px solid #d1d1d1;
}

#selectDeviceBoxCon ul {
	width: 120%;
	padding: 0 0 0 2px;
}

#selectDeviceBox ul li {
	float: left;
	width: 168px;
	margin: 10px 12px 10px 0;
	line-height: 25px;
	overflow: hidden;
}

#selectDeviceBox ul li a {
	display: block;
	background: #d1d1d1;
	background: url(../images/bg.jpg) repeat-x bottom;
	border: 1px solid #d1d1d1;
	text-indent: 10px;
	width: 154px;
	height: 32px;
	overflow: hidden;
	cursor: pointer;
}

#selectDeviceBox ul li a:hover {
	border: 1px solid #19597d;
	color: #19597d;
}


#selectDeviceBox .page {
	text-align: center;
	padding: 10px 0;
}

#selectDeviceBox .page a {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px
}
